@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'GoKhan';
    src: url('/fonts/gokhan/Gokhan.otf');
    font-style: normal;
}

@font-face {
    font-family: 'HaloDek';
    src: url('/fonts/halo_dek/HaloDek.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Namaku';
    src: url('/fonts/namaku/Namaku.otf');
    font-style: normal;
}

@layer base {
    .font-Gokhan {
        font-family: 'Gokhan', 'sans-serif';
    }

    .font-HaloDek {
        font-family: 'HaloDek', 'sans-serif';
    }

    .font-Namaku {
        font-family: 'Namaku', 'sans-serif';
    }

    .font-Ubuntu {
        font-family: 'Ubuntu', 'sans-serif';
    }

    .termsandconditions h1,
    .privacypolicy h1 {
        font-weight: bolder;
    }
}
